#board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
}

#board>div {
    border: 1px solid lightblue;
}

.selected {
    background-color: yellow;
}

.buttonGrid {
display: flexbox;
width: 100;
}